fastapi==0.85.1
huggingface_hub==0.16.4
langchain==0.0.352
langchain_community==0.0.20
langchain_openai==0.0.6
nltk==3.8.1
psycopg2==2.9.9
pydantic==1.10.9
transformers==4.34.0
uvicorn==0.29.0
python-multipart==0.0.6
torch==2.1.2
unstructured==0.7.12
pypdf==4.1.0
rapidocr-onnxruntime==1.3.15
pgvector== 0.2.5

